@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- fonts --------- */

@import "_misc/_fontsinstall";

@import "_misc/fonts";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

$misc-sprite : sprite-map('icons/_misc/*.png', $spacing : 70px);
$black : #333333;
$orange: #ff6600;
$blue : #d9e5ea;

// @import "_sections/header";

// @import "_sections/nav";

// @import "_sections/bread-crumbs";

// @import "_sections/content";

// @import "_sections/sidebar";

// @import "_sections/sort";

// @import "_sections/footer";

// @import "_sections/products";

@import "_plugins/**/*";
@import "_sections/**/*";
@import "_widgets/**/*";
@import "_views/**/*";